
.clothes{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    place-items:  center;
    padding-block: 5rem;
    row-gap: 3.5rem;   
    column-gap: 2rem;
    padding: 2rem 5rem;
}

.section-title{
    font-size: 2rem;
    margin: 2rem 0 1rem;
    padding-left: 2rem;
}

.section-title::after{
    content: "";
    display: block;
  
    width: 70px;
    height: 3px;
    background-color: #3fa37c;
    border-radius: 10px;
}

.clothes-card{
    width: 280px;
    height: 360px;
    padding: 2rem 1rem;
    background: #fff;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
    transition: 0.5s ease-in-out;
}

.clothes-card:hover{
    transform: translateY(20px);
}

.clothes-card::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom ,rgba(0,176,155,0.5), rgba(150,201,61,0.5));
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
}

.clothes-card:hover::before{
    opacity: 1;
}

.clothes-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.clothes-card .card-data-clothes{
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
}

.clothes-card:hover .card-data-clothes{
    opacity: 1;
    transform: translateY(0);
}